
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Сообщение</title>
</head>
<body>
    <div>
        <p>
            @ViewBag.Message
        </p>
        <a href="@ViewBag.Href">Вернуться</a>
    </div>
</body>
</html>
