
@{
    Layout = "~/Views/Layout/_Layout.cshtml";
}

@{
    ViewBag.Title = "Главная страница";
}

@if (ViewBag.Categories != null)
{
    foreach (var c in ViewBag.Categories)
    {
        <div class="main_theme">
            <h2>@c.Title</h2>
            <img src="~/Content/Upload/Images/@c.ImageUrl">
            <p>
                @c.Description
            </p>
            <div class="main_theme_go"><a href="/News/NewsInCategory/@c.Id">Перейти к разделу</a></div>
        </div>
    }
}

