
@{
    Layout = "~/Views/Layout/_Layout.cshtml";
}

@{
    ViewBag.Title = "Главная страница";
}

<div class="main_theme">
    <h2>Технологии</h2>
    <img src="~/Content/Images/technology_image.jpg">
    <p>
        Раздел о технологиях
    </p>
    <div class="main_theme_go"><a href="/News/NewsInCategory">Перейти к разделу</a></div>
</div>
