
@{
    Layout = "~/Views/Layout/_Layout.cshtml";
}

@{
    ViewBag.Title = "Новости по категории";
}

<div class="news_body">
    <h2>Раздел о технологиях</h2>
    <div class="news_item">
        <h3>Водородный поезд начал курсировать по маршруту в Германии</h3>
        <img src="~/Content/Images/news_image.png">
        <p>
            В Германии на одном из маршрутов впервые в мире начали ходить водородные поезда, разработанные и построенные французской компанией Alstom.
        </p>
        <div class="news_item_go"><a href="/News/News">Подробнее</a></div>
    </div>
</div>
