
@{
    Layout = "~/Views/Layout/_Layout.cshtml";
}

@{
    ViewBag.Title = "Новость";
}
<div class="news_body">
    <h2>Водородный поезд начал курсировать по маршруту в Германии</h2>
    <img src="~/Content/Images/news_image.png">
    <p>
        В Германии на одном из маршрутов впервые в мире начали ходить водородные поезда, разработанные и построенные французской компанией Alstom. Как сообщается на сайте компании, по маршруту ходят два поезда Coradia iLint.
    </p>
    <p>
        Alstom представила свой водородный поезд в сентябре 2016 года. Coradia iLint работает на водороде, топливные ячейки размещены на крыше локомотива. Водородный поезд, на полной заправке емкостей может проехать около 1000 километров, развивая скорость до 140 километров в час. Вырабатываемое топливными ячейками электричество используется не напрямую, а заряжает литий-ионные аккумуляторы, которые уже отвечают за питание бортовых систем и электромоторов.
    </p>
    <p>
        Этим летом сообщалось, что поезда скоро начнут перевозить пассажиров, и начиная с 17 сентября два поезда на регулярной основе включены в расписание одного из маршрутов в Нижней Саксонии. Поезда будут перевозить пассажиров между городами Куксхафен, Бремерхафен,Бремерфёрде и Букстехуде, заправляться водородом Coradia iLint будут от мобильной заправочной станции в Бремерфёрде.
    </p>
    <p>
        До 2021 года Alstom планирует поставить в Германию еще 14 водородных поездов, которые заменят на маршрутах традиционные дизельные локомотивы.
    </p>
    <p>
        Осенью прошлого года китайская корпорация CRRC Tangshan запустила в городе Таншань в провинции Хэбэй первый в мире трамвай на водородных топливных элементах. Новый транспорт заработал на трамвайной ветке, созданной еще 136 лет назад и соединяющей несколько промышленных районов Таншаня.
    </p>
</div>
