
@{
    Layout = "~/Views/Layout/_Layout.cshtml";
}

@{
    ViewBag.Title = "Обратная связь";
}

<form action="#" class="contact">
    Имя <br><input type="text" class="input_name"><br>
    Эл. почта <br><input type="email" class="input_text_email"><br><br>
    Сообщение <br><textarea class="input_text"></textarea><br>
    <input type="submit" value="Отправить"> <input type="reset" value="Отмена">
</form>
