
@{
    Layout = "~/Views/Layout/_Layout.cshtml";
}

@{
    ViewBag.Title = "Обратная связь";
}

<div class="add_body">
    <form action="/Information/Contact" method="post" class="add">
        <div class="form_div">
            <p>
                Имя
            </p>
            <input type="text" name="title" class="name">
        </div>
        <div class="form_div">
            <p>
                Email
            </p>
            <input type="email" name="title" class="email">
        </div>
        <div class="form_div">
            <p>
                Сообщение
            </p>
            <textarea class="input_text" name="message"></textarea>
        </div>
        <div class="form_div">
            <input type="submit" value="Отправить">
        </div>
        <div class="form_div">
            <input type="reset" value="Отмена">
        </div>
    </form>
</div>
